h1{
    color:darkcyan;
}
div{
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    left: calc(50%-1em);
    border-radius: 1em;
    transform-origin: 1em 2em;
    animation: rotate;
    animation-iteration-count: infinite;
    animation-duration: 1.6s;
left: 500px;
top:100px;}
@keyframes rotate {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
    
}

.d1{
animation-delay: .1s;
background-color: red;
}
.d2{
    animation-delay: .2s;
    background-color: black;
    }
.d3{
 animation-delay: .3s;
background-color: green;
 }
 .d4{
    animation-delay: .4s;
    background-color: orange;
    }
    .d5{
        animation-delay: .6s;
        background-color:blue;
        }